html {
  background: url(../img/punchout.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  background: transparent;
  color: white;
}
.title {
  color: white;
  font-size: 6.5em;
  letter-spacing:.2em;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'Bangers', cursive;
}
.grid-bg {
  background: url(../img/grid.png);
  height: 100%;
}
.img-cover {
  object-fit: cover;
  /*border: 8px solid transparent;*/
  border-radius: 8px;
	transition: all 1.5s ease;
  /*border: 1px solid lightgray;*/
}
.followers {
  font-size: 22px;
}
.winner {
  border: 8px solid lightgreen;
}
.loser {
  /*border: 8px solid gray;*/
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.height-margin {
  padding-top: 80px;
}
.get-tweets {
  margin-top: 100px;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 10px 56px;
  font-size: 28px;
  line-height: 1.3333333;
  border-radius: 6px;
}
input {
  padding: 5px;
  font-size: 18px;
  color: #555;
  margin-right: 10px;
}
